* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Bai Jamjuree', sans-serif;
}

.header {
    background-image: url("./images/bg-header-mobile.png");
    width: 100%;
    .principal-icon {
        width: 30%;
        height: 30%;
        padding-top: 5rem;
    }
}

.main {
    width: 90%;
    .principal {
        &__caption {
            color: hsl(210, 10%, 33%);
        }

        &__paragraph {
            color: hsl(201, 11%, 66%);
        }

        &__button {
            color: white;
        }

        &__iOS-button {
            background-color: hsl(171, 66%, 44%);
        }

        &__Mac-button {
            background-color: hsl(233, 100%, 69%);
        }
    }

    &__container {
        &__principal-content {
            &__caption {
                color: hsl(210, 10%, 33%);
            }
            &__paragraph {
                color: hsl(201, 11%, 66%);

            }
            &__image {
                width: 90%;
            }
        }

        &__content {
            &__sub {
                color: hsl(210, 10%, 33%);

            }
            &__paragraph {
                color: hsl(201, 11%, 66%);

            }
            &__icon {

            }
        }

        .icons-container {
            &__icon {

            }
        }
    }

}

.footer {
    &__icon {
        
    }

    &__list {
        .list {
            &__item { 
                list-style: none;
                &__link {

                }

                &__link:link, &__link:visited {
                    color: hsl(210, 10%, 33%);
                    text-decoration: none;
                }
            }
        }
    }

    #mobile-design-list {

    }

    #desktop-design-list {
        display: none;
    }

    &__icons {
        &__social-media-icon {

        }
    }
}