* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Bai Jamjuree', sans-serif;
}

.header {
    background-image: url("./images/bg-header-mobile.png");
    background-repeat: no-repeat;
    width: 100%;
    .principal-icon {
        width: 30%;
        height: 30%;
        padding-top: 8rem;
        padding-bottom: 6rem;
    }
}

.main {
    width: 90%;
    .principal {
        display: flex;
        flex-direction: column; 
        align-items: center;
        margin-top: 2rem;
        margin-bottom: 8rem;
        &__caption {
            color: hsl(210, 10%, 33%);
            margin-bottom: 1rem;
            font-size: 2rem;
        }

        &__paragraph {
            color: hsl(201, 11%, 66%);
            margin-bottom: 1rem;
            font-size: 1.1rem;
        }

        &__button {
            color: white;
            width: 100%;
            padding: 0.5rem 0;
            margin: 0.5rem 0;
            border-radius: 3rem;
            text-decoration: none;
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
            -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        }

        &__button:hover, &__button:active {
            opacity: 80%;
        }

        &__iOS-button {
            background-color: hsl(171, 66%, 44%);
        }

        &__Mac-button {
            background-color: hsl(233, 100%, 69%);
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__principal-content {
            &__button-container {
                display: flex;
                flex-direction: column;
                width: 90%;
            }

            &__caption {
                color: hsl(210, 10%, 33%);
                margin-bottom: 1rem;
                font-size: 1.8rem;
            }

            &__paragraph {
                color: hsl(201, 11%, 66%);
                margin-bottom: 1rem;
                font-size: 1.1rem;
            }

            &__image {
                width: 90%;
                margin: 3rem 0;
            }
        }

        &__content {
            margin: 1rem 0;

            &__sub {
                color: hsl(210, 10%, 33%);
                margin-bottom: 1rem;
                font-size: 1.5rem;

            }

            &__paragraph {
                color: hsl(201, 11%, 66%);
                margin: 1rem;
                font-size: 1.05rem;

            }

            &__icon {
                margin: 1rem 0;
            }
        }

    }

    &__icons-container {
        padding: 4rem 0;
        &__icon {
            margin: 2rem 0;
        }
    }

}

.footer {
    background-color: rgba(245,246,248,255);
    padding-top: 1rem;
    margin-top: 1rem;
    width: 100%;
    &__icon {
        width: 25%;
        height: 25%;
    }

    &__list {

        .list {

            &__item { 
                list-style: none;
                margin: 2rem 0;

                &__link {

                }

                &__link:link, &__link:visited {
                    color: hsl(210, 10%, 33%);
                    text-decoration: none;
                }

                &__link:hover, &__link:active {

                }

            }
        }
    }

    #mobile-design-list {

    }

    #desktop-design-list {
        display: none;
    }

    &__icons {
        
        &__social-media-icon {
            padding: 0 1rem;
        }
    }
}

@media  screen and (min-width: 800px) {
    .header {
        background-image: url("./images/bg-header-desktop.png");
        background-size: cover;
        width: 100%;
        .principal-icon {
            width: 07%;
        }
    }
    
    .main {
        width: 100%;

        .principal {

            &__caption {
                width: 45%;
                font-size: 2.2rem;

            }
    
            &__paragraph {
                width: 45%;
                font-size: 1rem;

            }
    
            &__button {
                width: 20%;
                margin: 0 1rem;

            }
    
            &__button:hover, &__button:active {

            }
    
            &__iOS-button {

            }
    
            &__Mac-button {

            }
        }
    
        &__container {

            &__flex {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                &__img {
                    position: absolute;
                    
                    
                    &__image {
                    }
                }

                #prueba {
                    width: 90%;
                    position: relative;
                    left: -5rem;
                }
            }

            &__text-padding {
                padding: 7rem 0;
            }

            &__principal-content {
                display: flex;
                flex-direction: column;
                align-items: center;

                &__button-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    
                }
    
                &__caption {
                    font-size: 2rem;
                }
    
                &__paragraph {
                    width: 40rem;
                    font-size: 1.05rem;

                }
    
                &__image {
                    width: 70%;
                }
            }
    
            &__content {
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 55%;


                &__text-align {
                    text-align: left;
                
                }
                
                &__sub {
                    font-size: 1.2rem;
                }
                
                &__paragraph {
                    padding: 0;
                    margin: 0;
                    margin-bottom: 2rem;                   
                    font-size: 1rem;
                }
                
                &__description {
                    width: 80%;
                }
    
                &__icon {
                    width: 10%;
                }
            }
    
        }
    
        &__icons-container {
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            &__icon {

            }
        }
    
    }
    
    .footer {

        &__icon {

        }
    
        &__list {
    
            .list {
    
                &__item { 
    
                    &__link {
    
                    }
    
                    &__link:link, &__link:visited {

                    }
    
                    &__link:hover, &__link:active {
    
                    }
    
                }
            }
        }
    
        #mobile-design-list {
            display: none;   
        }
    
        #desktop-design-list {
            display: flex;
        }
    
        &__icons {
            
            &__social-media-icon {

            }
        }
    }
}