* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Bai Jamjuree', sans-serif;
}

.header {
    background-image: url("./images/bg-header-mobile.png");
    width: 100%;
    .principal-icon {
        width: 30%;
        height: 30%;
        padding-top: 5rem;
    }
}

.main {
    width: 90%;
    .principal {
        display: flex;
        flex-direction: column; 
        align-items: center;
        margin-bottom: 8rem;
        &__caption {
            color: hsl(210, 10%, 33%);
            margin-top: 2rem;
            margin-bottom: 1rem;
        }

        &__paragraph {
            color: hsl(201, 11%, 66%);
            margin-bottom: 1rem;
        }

        &__button {
            color: white;
            width: 90%;
            padding: 0.5rem 0;
            margin: 0.5rem 0;
            border-radius: 3rem;
            text-decoration: none;
        }

        &__button:hover, &__button:active {
            opacity: 80%;
        }

        &__iOS-button {
            background-color: hsl(171, 66%, 44%);
        }

        &__Mac-button {
            background-color: hsl(233, 100%, 69%);
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__principal-content {

            &__caption {
                color: hsl(210, 10%, 33%);
                margin-bottom: 1rem;
            }

            &__paragraph {
                color: hsl(201, 11%, 66%);
                margin-bottom: 1rem;

            }

            &__image {
                width: 90%;
                margin: 3rem 0;
            }
        }

        &__content {
            margin: 1rem 0;

            &__sub {
                color: hsl(210, 10%, 33%);
                margin-bottom: 1rem;

            }

            &__paragraph {
                color: hsl(201, 11%, 66%);
                margin: 1rem;

            }

            &__icon {
                margin: 1rem 0;
            }
        }

    }

    &__icons-container {
        &__icon {
            margin: 2rem 0;
        }
    }

}

.footer {
    &__icon {
        
    }

    &__list {

        .list {

            &__item { 

                list-style: none;

                &__link {

                }

                &__link:link, &__link:visited {
                    color: hsl(210, 10%, 33%);
                    text-decoration: none;
                }

                &__link:hover, &__link:active {

                }

            }
        }
    }

    #mobile-design-list {

    }

    #desktop-design-list {
        display: none;
    }

    &__icons {
        
        &__social-media-icon {

        }
    }
}